/* nav shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
    ;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
}

li a {
    text-decoration: none;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related style */

.header{
    background-color: rgb(251, 238, 222);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile{
    width: 500px;
}